
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.info-2-J24 {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .auto-group-dxcl-pWC {
    width: 144.8rem;
    height: 100.7rem;
    position: relative;
    flex-shrink: 0;

    .frame-287-92g {
      padding: 7.2rem 7.65rem 26.65rem 7.65rem;
      height: 100.7rem;
      position: absolute;
      background-size: 100% 100%;
      box-sizing: border-box;
      width: 144rem;
      grid-auto-rows: 34.725rem;
      row-gap: 8.25rem;
      background-position: center;
      top: 0;
      display: grid;
      grid-template-columns: repeat(2, 80.625rem);
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:8fa4e98fc66e756df69ea2986d445d5c3332a6fd');
      left: 0;

      .frame-199-CWk {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .frame-14-ACg {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 20.2rem;
          width: 100%;

          .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx {
            white-space: nowrap;
            align-items: baseline;
            text-align: center;
            font-size: 4rem;
            font-weight: 700;
            line-height: 1.6100002289;
            color: #ffffff;
            font-family: Moderat, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 5.1rem;
            display: flex;

            .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx-sub-0 {
              line-height: 1.6871458973;
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
              font-size: 6.4rem;
              font-weight: 700;
            }
            .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx-sub-1 {
              font-size: 6.4rem;
              font-weight: 700;
              line-height: 1.6871458973;
              color: #0003ff;
              font-family: Moderat, 'Source Sans Pro';
            }
            .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx-sub-2 {
              line-height: 1.6871458973;
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
              font-size: 6.4rem;
              font-weight: 700;
            }
            .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx-sub-3 {
              font-weight: 700;
              line-height: 1.6871458973;
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
              font-size: 6.4rem;
            }
            .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx-sub-4 {
              font-size: 6.4rem;
              font-weight: 700;
              line-height: 1.6871458973;
              color: #0066ff;
              font-family: Moderat, 'Source Sans Pro';
            }
            .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx-sub-5 {
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.6871458973;
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
            }
          }
          .vector-4-zmN {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 69.9rem;
            height: 0;
          }
        }
        .vector-6-YH6 {
          vertical-align: top;
          flex-shrink: 0;
          width: 6.7rem;
          height: 2.75rem;
          object-fit: contain;
        }
      }
      .rectangle-39-UgY {
        width: 4.4rem;
        height: 0.1rem;
        background-color: #d9d9d9;
      }
      .vector-40-1wN {
        vertical-align: top;
        width: 4.4rem;
        height: 0;
        object-fit: contain;
      }
    }
    .navigation-bar-Lik {
      top: 0;
      overflow: hidden;
      background-color: #ffffff;
      width: 144.8rem;
      height: 12.1rem;
      position: absolute;
      left: 0;

      .rectangle-2-5RS {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 144.8rem;
        height: 13.2rem;
      }
      .homepage-bg-1-2-1Zz {
        position: absolute;
        left: 0.4rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 144rem;
        height: 12.1rem;
      }
      .group-41-wCk {
        display: flex;
        align-items: center;
        width: 125.6rem;
        height: 4.9rem;
        position: absolute;
        left: 8.5rem;
        top: 3.4rem;

        .asset-2-1-s6Q {
          margin: 0.3rem 24.4rem 0rem 0rem;
          width: 4.6rem;
          height: 4.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-mfrx-yfE {
          margin: 1.4rem 8.4rem 1.6rem 0rem;
          width: 72.5rem;
          height: calc(100% - 3rem);
          flex-shrink: 0;

          .frame-365-6jr {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .info-emN {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 11.3rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
            }
            .services-auv {
              margin-right: 12.3rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .studio-vit {
              font-family: Moderat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 11.7rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
            }
            .about-us-fRa {
              margin-right: 12.3rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .store-c5v {
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2575;
            }
          }
        }
        .group-43-YkG {
          margin-bottom: 0.2rem;
          width: 15.7rem;
          height: 4.7rem;
          position: relative;
          flex-shrink: 0;

          .contact-us-6Fz {
            font-family: Moderat, 'Source Sans Pro';
            width: 8.1rem;
            height: 1.9rem;
            position: absolute;
            left: 2.2rem;
            top: 1.4rem;
            line-height: 1.2575;
            color: #ffffff;
            font-size: 1.5rem;
            font-weight: 400;
            white-space: nowrap;
          }
          .rectangle-27-nec {
            top: 0;
            border: solid 0.1rem #ffffff;
            box-sizing: border-box;
            width: 15.7rem;
            height: 4.7rem;
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }
  .auto-group-pjey-Jsr {
    width: 144.3rem;
    height: 404.3rem;
    position: relative;
    flex-shrink: 0;

    .frame-288-SjA {
      background-color: #0e0e0e;
      width: 144.2rem;
      height: 101.7rem;
      position: absolute;
      left: 0;
      top: 0;

      .frame-198-BRr {
        height: 96.3rem;
        position: absolute;
        left: 23.1rem;
        top: 4.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 97rem;

        .trueframe-blueprint-use {
          text-align: center;
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.2575;
          white-space: nowrap;
          margin-bottom: 3rem;
          color: #ffffff;
          font-family: Moderat, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .frame-194-2xG {
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:e582b88289b4803fec05e4e91fc0a256444a1067');
          width: 100%;
          position: relative;
          filter: blur(4.5rem);
          background-size: 100% 100%;
          height: 87.2rem;
          flex-shrink: 0;

          .group-11-PXv {
            width: 61.3403rem;
            height: 41.8402rem;
            position: absolute;
            left: 18.4005rem;
            top: 20.6763rem;
            object-fit: contain;
            vertical-align: top;
          }
          .frame-196-XPE {
            left: 28.6rem;
            top: 5.2rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 39.6rem;
            height: 73.4rem;
            position: absolute;

            .frame-110-TGt {
              margin-bottom: 39.9rem;
              width: 100%;
              height: 15.8rem;
              position: relative;
              flex-shrink: 0;

              .item-1-obe {
                top: 0;
                text-align: right;
                line-height: 1.2575;
                font-family: Moderat, 'Source Sans Pro';
                white-space: nowrap;
                width: 3.4rem;
                left: 18.1rem;
                font-size: 6.4rem;
                font-weight: 700;
                color: #ffffff;
                height: 8.1rem;
                position: absolute;
              }
              .frame-109-76Y {
                height: 8.1rem;
                position: absolute;
                left: 0;
                top: 7.7rem;
                width: 39.6rem;

                .get-attention-FCk {
                  white-space: nowrap;
                  text-align: center;
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                  width: 14rem;
                  height: 2.6rem;
                  position: absolute;
                  left: 13.15rem;
                  top: 0;
                }
                .create-a-viral-social-media-content-that-introduces-the-brand-or-product-to-potential-customers-in-a-non-salesy-way-entertaining-bold-statements-9ov {
                  width: 39.6rem;
                  font-size: 1.5rem;
                  font-weight: 400;
                  color: #ffffff;
                  height: 5.7rem;
                  position: absolute;
                  left: 0;
                  top: 2.4rem;
                  line-height: 1.2575;
                  font-family: Moderat, 'Source Sans Pro';
                }
              }
            }
            .frame-104-nrt {
              margin: 0rem 6.1rem 0rem 5.6rem;
              width: calc(100% - 11.7rem);
              height: 17.7rem;
              position: relative;
              flex-shrink: 0;

              .item-3-WXz {
                height: 8.1rem;
                left: 12.85rem;
                top: 0;
                text-align: center;
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
                width: 3.4rem;
                position: absolute;
                font-size: 6.4rem;
                font-weight: 700;
                line-height: 1.2575;
                white-space: nowrap;
              }
              .frame-103-DxC {
                width: 27.9rem;
                height: 10rem;
                position: absolute;
                left: 0;
                top: 7.7rem;

                .build-trust-a24 {
                  font-weight: 700;
                  line-height: 1.2575;
                  white-space: nowrap;
                  height: 2.6rem;
                  left: 8.7rem;
                  top: 0;
                  text-align: center;
                  font-size: 2rem;
                  width: 11.7rem;
                  position: absolute;
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                }
                .establish-credibility-by-demonstrating-expertise-customer-testimonials-and-results-data-on-your-website-webinars-ugc-and-reviews-VPv {
                  position: absolute;
                  left: 0;
                  color: #ffffff;
                  width: 27.9rem;
                  height: 7.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  font-family: Moderat, 'Source Sans Pro';
                  top: 2.4rem;
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }
      .frame-195-7RJ {
        top: 45.6rem;
        display: flex;
        align-items: flex-start;
        width: 101.9rem;
        height: 18.1rem;
        position: absolute;
        left: 20.7rem;

        .frame-106-qs6 {
          width: 30.3rem;
          height: 16rem;
          position: relative;
          flex-shrink: 0;
          margin: 0.1rem 42.3rem 0rem 0rem;

          .item-4-n1e {
            text-align: right;
            font-size: 6.4rem;
            white-space: nowrap;
            height: 8.1rem;
            position: absolute;
            top: 0;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Moderat, 'Source Sans Pro';
            width: 3.4rem;
            left: 13.9rem;
            font-weight: 700;
          }
          .frame-105-t4g {
            left: 0;
            top: 7.7rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 30.3rem;
            height: 8.3rem;
            position: absolute;

            .take-action-d2G {
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
            }
            .strong-call-to-action-incentives-or-closing-deals-which-solidifies-their-transition-from-a-prospect-to-a-paying-customer-free-shipping-discounts-xKS {
              font-family: Moderat, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 30.3rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
            }
          }
        }
        .frame-108-p6k {
          width: 29.3rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .item-2-xye {
            position: absolute;
            left: 13.65rem;
            top: 0;
            text-align: right;
            font-size: 6.4rem;
            font-weight: 700;
            font-family: Moderat, 'Source Sans Pro';
            height: 8.1rem;
            line-height: 1.2575;
            color: #ffffff;
            white-space: nowrap;
            width: 3.4rem;
          }
          .frame-107-5oN {
            height: 10.4rem;
            position: absolute;
            left: 0;
            top: 7.7rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 29.3rem;

            .spark-interest-RsE {
              flex-shrink: 0;
              text-align: center;
              font-weight: 700;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
              margin: 0rem 0rem 0.2rem 0.8rem;
              font-size: 2rem;
              white-space: nowrap;
            }
            .stimulate-curiousity-through-appealing-offers-which-encourage-potential-customers-to-click-for-more-information-or-free-resources-lead-magnets-irL {
              font-family: Moderat, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 29.3rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
            }
          }
        }
      }
      .group-12-z3A {
        width: 54.5rem;
        height: 54.5rem;
        position: absolute;
        left: 44.8333rem;
        top: 27.6rem;

        .vector-7-uvp {
          left: 26.7413rem;
          top: 7.7027rem;
          object-fit: contain;
          vertical-align: top;
          width: 0;
          height: 3.1973rem;
          position: absolute;
        }
        .vector-10-rLG {
          position: absolute;
          left: 26.7413rem;
          top: 43.7453rem;
          object-fit: contain;
          vertical-align: top;
          width: 0;
          height: 3.1973rem;
        }
        .vector-8-PLC {
          left: 43.7453rem;
          top: 26.378rem;
          object-fit: contain;
          vertical-align: top;
          width: 4.687rem;
          height: 0;
          position: absolute;
        }
        .vector-9-Kje {
          width: 4.687rem;
          height: 0;
          position: absolute;
          left: 6.1767rem;
          top: 26.378rem;
          object-fit: contain;
          vertical-align: top;
        }
        .frame-189-4SL {
          height: 54.5rem;
          background-color: rgba(217, 217, 217, 0.1000000015);
          border-radius: 27.25rem;
          left: 0;
          top: 0;
          box-sizing: border-box;
          padding: 9.592rem 10.101rem 9.737rem 10.173rem;
          width: 54.5rem;
          position: absolute;

          .trueframe-blueprint-1-BWx {
            width: 34.226rem;
            height: 35.1707rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
    }
    .frame-285-tAU {
      top: 203.2rem;
      background-color: #0e0e0e;
      box-sizing: border-box;
      padding: 10.3rem 19.7rem 13.55rem 10.2rem;
      width: 144.1rem;
      height: 99.9rem;
      position: absolute;
      left: 0;

      .frame-200-zjJ {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        .frame-101-xAL {
          margin-bottom: 16.2rem;
          width: 100%;
          height: 57.1rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .frame-100-u5a {
            width: 54.1rem;
            height: calc(100% - 18.3rem);
            flex-shrink: 0;
            margin: 9.15rem 19.7rem 9.15rem 0rem;

            .frame-99-RZi {
              display: flex;
              flex-direction: column;
              margin-bottom: 5.4rem;
              width: 100%;

              .unlocking-your-brands-true-potential-BHz {
                margin-bottom: 3.8rem;
                max-width: 41rem;
                font-size: 4rem;
                font-weight: 700;
                line-height: 1.2575;
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .in-todays-fast-paced-business-world-making-your-brand-stand-out-is-crucial-weve-got-a-straightforward-plan-to-take-your-brand-to-new-heights-boosting-your-brand-doesnt-have-to-be-complicated-it-only-needs-to-be-simple-yet-concentrated-its-a-simple-plan-designed-with-care-driven-by-creativity-and-perfected-through-teamwork-were-here-to-help-your-brand-find-its-true-potential-and-outshine-in-the-market-VZa {
                line-height: 1.2575;
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 54.1rem;
                font-size: 1.5rem;
                font-weight: 300;
              }
            }
            .group-23-eqn {
              font-weight: 500;
              line-height: 1.2575;
              font-family: Lato, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              width: 36.8rem;
              height: 6.2rem;
              font-size: 2.4rem;
              background-color: #0003ff;
              color: #ffffff;
              white-space: nowrap;
              display: flex;
            }
          }
          .concentrated-2-9nY {
            flex-shrink: 0;
            width: 40.4rem;
            height: 57.1rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .vector-8-VLc {
          width: 6.7rem;
          height: 2.75rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .frame-286-2bS {
      background-color: #0e0e0e;
      box-sizing: border-box;
      padding: 19.2rem 8.5rem 20.5rem 8.4rem;
      width: 144.1rem;
      height: 101.7rem;
      position: absolute;
      left: 0;
      top: 101.6rem;

      .frame-111-wiQ {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;

        .how-we-will-work-with-you-ufE {
          margin: 0rem 8.4rem 9.5rem 0rem;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Moderat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .frame-98-EBi {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .frame-93-PaQ {
            margin-bottom: 11.3rem;
            width: 100%;
            height: 18.7rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-90-wM2 {
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 12rem;
              height: 100%;
              display: flex;

              .item-1-6Dv {
                margin-bottom: 0.9rem;
                font-size: 4.8rem;
                font-weight: 700;
                line-height: 1.2575;
                font-family: Moderat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .understanding-your-brand-2NU {
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.2575;
              }
              .we-start-by-getting-to-know-your-brand-inside-out-we-look-at-what-makes-it-unique-from-its-values-to-its-goals-understanding-these-details-sets-the-stage-for-a-customized-strategy-that-clicks-with-your-audience-MQk {
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2575;
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 34.2rem;
              }
            }
            .frame-91-zyW {
              margin-right: 12.9rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .item-2-9rQ {
                flex-shrink: 0;
                margin-bottom: 0.9rem;
                font-size: 4.8rem;
                font-weight: 700;
                line-height: 1.2575;
                font-family: Moderat, 'Source Sans Pro';
                white-space: nowrap;
              }
              .telling-your-story-6Fr {
                font-weight: 500;
                line-height: 1.2575;
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-size: 2.4rem;
              }
              .our-team-works-closely-with-yours-to-create-a-story-that-goes-beyond-what-you-sell-we-tap-into-the-emotions-your-brand-wants-to-convey-making-sure-every-interaction-tells-a-powerful-and-consistent-tale-EN4 {
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 33.3rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2575;
              }
            }
            .frame-92-5da {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .item-3-pbA {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.9rem;
                font-size: 4.8rem;
                font-weight: 700;
                line-height: 1.2575;
                font-family: Moderat, 'Source Sans Pro';
              }
              .finding-your-spot-Mqz {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.2575;
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
              }
              .in-a-crowded-market-standing-out-is-vital-we-dig-into-the-market-finding-the-best-spots-for-your-brand-this-ensures-your-brand-not-only-joins-the-conversation-but-leads-it-VxC {
                font-family: Moderat, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 34.8rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2575;
                color: #ffffff;
              }
            }
          }
          .frame-97-mPv {
            height: 17.9rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-94-7ig {
              margin-right: 13.6rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .item-4-fkC {
                font-family: Moderat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 4.8rem;
                font-weight: 700;
                line-height: 1.2575;
              }
              .getting-everywhere-QSt {
                flex-shrink: 0;
                margin-bottom: 0.6rem;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.2575;
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
                white-space: nowrap;
              }
              .your-brands-strength-lies-in-reaching-people-wherever-they-are-we-cover-all-the-bases-from-social-media-to-traditional-methods-to-make-sure-your-brand-is-everywhere-your-audience-is-bGU {
                max-width: 32.6rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2575;
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
            .frame-95-qgc {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 12.5rem;

              .item-5-Py2 {
                font-family: Moderat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 4.8rem;
                font-weight: 700;
                line-height: 1.2575;
              }
              .learning-and-improving-vi4 {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.6rem;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.2575;
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
              }
              .our-blueprint-isnt-a-one-time-thing-it-evolves-we-use-data-to-see-whats-working-and-what-can-be-better-this-way-your-brand-stays-flexible-and-can-adjust-to-changes-in-the-market-TT6 {
                font-family: Moderat, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 33.7rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2575;
                color: #ffffff;
              }
            }
            .frame-96-sFv {
              flex-shrink: 0;
              height: 100%;
              display: flex;
              flex-direction: column;

              .item-6-dF6 {
                font-weight: 700;
                line-height: 1.2575;
                font-family: Moderat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 4.8rem;
              }
              .teamwork-yJx {
                font-weight: 500;
                line-height: 1.2575;
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.6rem;
                font-size: 2.4rem;
              }
              .your-brands-success-is-a-joint-effort-we-believe-in-working-together-closely-keeping-communication-open-our-team-becomes-an-extension-of-yours-working-side-by-side-to-overcome-challenges-and-celebrate-victories-Wpg {
                max-width: 34.7rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2575;
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
    .frame-284-Z2G {
      width: 144.3rem;
      height: 101.7rem;
      position: absolute;
      left: 0;
      top: 302.6rem;
      background-color: #0e0e0e;
      box-sizing: border-box;
      padding: 19.7rem 17.7rem 15.4rem 13.4rem;

      .frame-113-s2x {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;

        .ash-1-cmE {
          margin-right: 14.1rem;
          width: 47.1rem;
          height: 66.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .frame-112-AGx {
          flex-direction: column;
          flex-shrink: 0;
          margin: 23.1rem 0;
          height: calc(100% - 46.2rem);
          display: flex;

          .are-you-ready-to-take-on-the-next-level-for-your-brand-UoS {
            flex-shrink: 0;
            margin-bottom: 5.1rem;
            max-width: 52rem;
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Moderat, 'Source Sans Pro';
          }
          .group-24-CDe {
            height: 6.2rem;
            font-weight: 500;
            color: #ffffff;
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            background-color: #0003ff;
            width: 33.8rem;
            font-size: 2.4rem;
            line-height: 1.2575;
            font-family: Lato, 'Source Sans Pro';
            display: flex;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .frame-159-GzC {
    background-color: #0e0e0e;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 15.8rem 11.946rem 4rem 11.954rem;
    width: 100%;
    height: 74.2rem;

    .frame-157-bFn {
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;

      .frame-156-Ygp {
        margin-bottom: 11.9rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-155-Vc4 {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 6.0675rem;
          width: 100%;
          display: flex;

          .full-logo-3-rBi {
            width: 20.9rem;
            height: 3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 1.9rem;
          }
          .frame-154-zHv {
            width: 81.4037rem;
            height: 29.6325rem;
            position: relative;
            flex-shrink: 0;
            margin-left: 39.2962rem;

            .frame-153-8Q8 {
              align-items: flex-start;
              width: 78.6145rem;
              height: 28rem;
              position: absolute;
              left: 0;
              top: 0;
              display: flex;

              .frame-148-UD6 {
                height: 100%;
                row-gap: 6.8rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-right: 21.7038rem;

                .info-cKJ {
                  font-family: Moderat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.5rem;
                  font-weight: 300;
                  line-height: 1.2575;
                  color: #ffffff;
                }
                .services-9q2 {
                  font-family: Moderat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.5rem;
                  font-weight: 300;
                  line-height: 1.2575;
                  color: #ffffff;
                }
                .studio-6VN {
                  flex-shrink: 0;
                  font-size: 1.5rem;
                  font-weight: 300;
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .about-us-Sp8 {
                  font-size: 1.5rem;
                  font-weight: 300;
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .frame-152-PUU {
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .frame-149-kK2 {
                  margin-right: 18.9108rem;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .sign-up-JrL {
                    font-family: Moderat, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 6.8rem;
                    font-size: 1.5rem;
                    font-weight: 300;
                    line-height: 1.2575;
                    color: #ffffff;
                  }
                  .book-a-call-TDS {
                    font-size: 1.5rem;
                    font-weight: 300;
                    line-height: 1.2575;
                    color: #ffffff;
                    font-family: Moderat, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .frame-354-zjA {
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                  width: 23.5rem;
                  row-gap: 2.1rem;
                  display: flex;
                  flex-direction: column;

                  .group-8-T6x {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    margin: 0rem 11.7rem 0rem 0.167rem;
                    width: calc(100% - 11.8666rem);

                    .akar-icons-phone-Yu6 {
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      margin: 0rem 0.567rem 0.1rem 0rem;
                      width: 1.6667rem;
                      height: 1.6667rem;
                    }
                    .item-639481125707-fip {
                      color: #bdbdbd;
                      font-family: Moderat, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.5rem;
                      font-weight: 300;
                      line-height: 1.2575;
                    }
                  }
                  .group-7-bcU {
                    margin-left: 0.1313rem;
                    width: calc(100% - 0.1313rem);
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .carbon-email-M5r {
                      width: 1.8375rem;
                      height: 1.3125rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-right: 0.8313rem;
                    }
                    .hellotrueframemediagmailcom-HkC {
                      font-size: 1.5rem;
                      font-weight: 300;
                      line-height: 1.2575;
                      color: #bdbdbd;
                      font-family: Moderat, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                  }
                  .group-1202-R5i {
                    margin-right: 1.8rem;
                    box-sizing: border-box;
                    padding-left: 0.3494rem;
                    width: calc(100% - 1.8rem);
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .basil-location-outline-YAL {
                      margin: 0rem 0.649rem 0.283rem 0rem;
                      width: 1.7012rem;
                      height: 2.0667rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                    }
                    .zone-5-brgy-san-joaquin-palo-leytephilippines-rwi {
                      max-width: 19rem;
                      font-size: 1.5rem;
                      font-weight: 300;
                      line-height: 1.2575;
                      color: #bdbdbd;
                      font-family: Moderat, 'Source Sans Pro';
                      flex-shrink: 0;
                    }
                  }
                }
              }
            }
            .frame-147-m36 {
              width: 9.7rem;
              height: 2.2308rem;
              position: absolute;
              left: 71.7037rem;
              top: 27.4017rem;
              display: flex;
              column-gap: 1.4rem;
              align-items: center;

              .vector-H1S {
                margin-bottom: 0.093rem;
                width: 2.3rem;
                height: 2.1378rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .akar-icons-instagram-fill-1TE {
                margin-top: 0rem;
                width: 2.2rem;
                height: 2.0449rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .akar-icons-linkedin-v1-fill-ju2 {
                height: 2.2308rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2.4rem;
              }
            }
          }
        }
        .vector-29-5CC {
          width: 118.3912rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .frame-150-cxp {
        width: calc(100% - 88.9444rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 43.349rem 0rem 45.596rem;

        .all-rights-reserved-by-trueframe-media-2023-Z7N {
          text-align: center;
          line-height: 1.2575;
          font-family: Moderat, 'Source Sans Pro';
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.65rem;
          font-size: 1.5rem;
          font-weight: 300;
        }
        .group-25-TiY {
          width: 0.9056rem;
          height: 1.3rem;
          position: relative;
          flex-shrink: 0;

          .ellipse-2-cbS {
            top: 0.3rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.9056rem;
            height: 0.9rem;
            position: absolute;
            left: 0;
          }
          .c-x9W {
            top: 0;
            font-weight: 500;
            line-height: 1.2575;
            white-space: nowrap;
            width: 0.5rem;
            height: 1.3rem;
            position: absolute;
            left: 0.1006rem;
            font-size: 1rem;
            color: #ffffff;
            font-family: Moderat, 'Source Sans Pro';
          }
        }
      }
    }
  }
}
