
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.inquiry-form-ij2 {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .auto-group-d5cu-QLx {
    width: 144.8rem;
    height: 309.6rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-2-odz {
      width: 144.1rem;
      height: 99.9rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #0e0e0e;
    }
    .homepage-bg-1-2-Jak {
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 144rem;
      height: 309.6rem;
      position: absolute;
    }
    .frame-353-b44 {
      display: flex;
      flex-direction: column;
      width: 67.3rem;
      height: 18.3rem;
      position: absolute;
      left: 38.3rem;
      top: 24.5rem;
      align-items: center;

      .lets-get-ready-for-a-new-journey-2fA {
        font-size: 4rem;
        line-height: 1.2575;
        align-items: baseline;
        flex-shrink: 0;
        margin-bottom: 3.1rem;
        font-weight: 700;
        color: #ffffff;
        font-family: Moderat, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        text-align: center;

        .lets-get-ready-for-a-new-journey-2fA-sub-0 {
        }
        .lets-get-ready-for-a-new-journey-2fA-sub-1 {
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #0066ff;
          font-family: Moderat, 'Source Sans Pro';
        }
      }
      .are-you-ready-to-give-your-brand-the-breakthrough-that-it-needs-let-us-discover-and-unlock-the-true-potential-that-your-brand-have-we-are-excited-to-work-with-you-aVe {
        max-width: 44.3rem;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Moderat, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .navigation-bar-NRW {
      width: 144.8rem;
      height: 12.1rem;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      background-color: #ffffff;

      .rectangle-2-f9i {
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 144.8rem;
        height: 13.2rem;
        position: absolute;
      }
      .homepage-bg-1-2-idn {
        width: 144rem;
        height: 12.1rem;
        position: absolute;
        left: 0.4rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .group-41-DKe {
        top: 3.4rem;
        display: flex;
        align-items: center;
        width: 125.6rem;
        height: 4.9rem;
        position: absolute;
        left: 8.5rem;

        .asset-2-1-VHA {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.3rem 24.4rem 0rem 0rem;
          width: 4.6rem;
          height: 4.6rem;
          object-fit: cover;
        }
        .auto-group-ppzn-7pL {
          width: 72.5rem;
          height: calc(100% - 3rem);
          flex-shrink: 0;
          margin: 1.4rem 8.4rem 1.6rem 0rem;

          .frame-365-axp {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .info-6RN {
              font-family: Moderat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 11.3rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
            }
            .services-wB6 {
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 12.3rem;
              font-size: 1.5rem;
            }
            .studio-2yE {
              line-height: 1.2575;
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 11.7rem;
              font-size: 1.5rem;
              font-weight: 500;
            }
            .about-us-waQ {
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 12.3rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2575;
            }
            .store-264 {
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .group-43-iUg {
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          width: 15.7rem;
          height: 4.7rem;
          position: relative;

          .contact-us-R8C {
            color: #ffffff;
            font-family: Moderat, 'Source Sans Pro';
            position: absolute;
            left: 2.2rem;
            top: 1.4rem;
            font-weight: 400;
            line-height: 1.2575;
            width: 8.1rem;
            height: 1.9rem;
            font-size: 1.5rem;
            white-space: nowrap;
          }
          .rectangle-27-2tg {
            left: 0;
            top: 0;
            border: solid 0.1rem #ffffff;
            box-sizing: border-box;
            width: 15.7rem;
            height: 4.7rem;
            position: absolute;
          }
        }
      }
    }
    .frame-345-WJ4 {
      flex-direction: column;
      width: 67.7rem;
      height: 146.2rem;
      position: absolute;
      left: 38.2rem;
      top: 100.1rem;
      align-items: flex-end;
      display: flex;

      .image-19-nmN {
        margin-bottom: 6.4rem;
        width: 67.6rem;
        height: 45.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .frame-332-3SQ {
        width: 100%;
        position: relative;
        align-items: center;
        display: flex;
        box-sizing: border-box;
        padding: 2.8rem 2.6rem 4.3rem 3.1rem;
        border: solid 0.1rem #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;
        overflow: hidden;
        flex-direction: column;

        .take-your-time-in-filling-up-the-form-vm6 {
          font-family: Moderat, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0.5rem 1.7rem 0rem;
          text-align: center;
          font-weight: 400;
          white-space: nowrap;
          font-size: 1.5rem;
          line-height: 1.2575;
          color: #ffffff;
        }
        .frame-344-6JC {
          flex-shrink: 0;
          width: 100%;
          row-gap: 1.5rem;
          display: flex;
          flex-direction: column;

          .frame-313-mQL {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;

            .full-name--VbE {
              font-family: Moderat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
            }
            .frame-307-M7e {
              padding: 1.2rem 2.1rem 1.1rem 2.1rem;
              width: 100%;
              position: relative;
              font-family: Moderat, 'Source Sans Pro';
              background-color: #d9d9d9;
              border-radius: 0.1rem;
              box-sizing: border-box;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2575;
              color: rgba(0, 0, 0, 0.5);
              flex-shrink: 0;
              white-space: nowrap;
              overflow: hidden;
            }
          }
          .frame-314-6De {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .company-name-if-applicable-2d6 {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.3rem;
            }
            .frame-308-8AL {
              box-sizing: border-box;
              overflow: hidden;
              line-height: 1.2575;
              font-family: Moderat, 'Source Sans Pro';
              background-color: #d9d9d9;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 400;
              width: 100%;
              padding: 1.2rem 2.1rem 1.1rem 2.1rem;
              position: relative;
              color: rgba(0, 0, 0, 0.5);
              white-space: nowrap;
              border-radius: 0.1rem;
            }
          }
          .frame-315-tYp {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;

            .contact-email-dWQ {
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .frame-309-jpL {
              flex-shrink: 0;
              padding: 1.2rem 2.1rem 1.1rem 2.1rem;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.5);
              overflow: hidden;
              white-space: nowrap;
              border-radius: 0.1rem;
              box-sizing: border-box;
              line-height: 1.2575;
              font-family: Moderat, 'Source Sans Pro';
              background-color: #d9d9d9;
              width: 100%;
              position: relative;
              font-size: 1.5rem;
            }
          }
          .frame-342-KGk {
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            display: flex;

            .contact-phone-number--pzC {
              line-height: 1.2575;
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 1.5rem;
              font-weight: 400;
            }
            .frame-341-8EC {
              box-sizing: border-box;
              font-family: Moderat, 'Source Sans Pro';
              flex-shrink: 0;
              width: 100%;
              white-space: nowrap;
              background-size: cover;
              background-repeat: no-repeat;
              padding: 1.2rem 2.1rem 1.1rem 2.1rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2575;
              background-image: url('REPLACE_IMAGE:37:390');
              color: rgba(0, 0, 0, 0.5);
              background-position: center;
            }
          }
          .frame-325-6aL {
            width: 21.1rem;
            flex-shrink: 0;

            .frame-324-EAk {
              margin-bottom: 1.2rem;
              width: 18.1rem;

              .type-of-project-ket {
                margin-bottom: 1.7rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
                white-space: nowrap;
              }
              .frame-323-dya {
                width: 100%;
                display: flex;
                flex-direction: column;

                .auto-group-tuvk-EyN {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding-bottom: 1.5rem;

                  .frame-319-LmW {
                    flex-shrink: 0;
                    margin: 0rem 5.1rem 1.5rem 0rem;
                    width: calc(100% - 5.1rem);
                    display: flex;
                    align-items: flex-start;

                    .rectangle-98-dEp {
                      margin-right: 1.1rem;
                      width: 2.3rem;
                      height: 2.1rem;
                      background-color: #d9d9d9;
                      flex-shrink: 0;
                    }
                    .website-design-XLC {
                      flex-shrink: 0;
                      font-size: 1.5rem;
                      font-weight: 400;
                      line-height: 1.2575;
                      color: #ffffff;
                      font-family: Moderat, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                  .frame-320-nG8 {
                    margin-right: 0.7rem;
                    width: calc(100% - 0.7rem);
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .rectangle-99-6Xi {
                      margin-right: 1.3rem;
                      width: 2.3rem;
                      height: 2.1rem;
                      background-color: #d9d9d9;
                      flex-shrink: 0;
                    }
                    .website-development-18t {
                      flex-shrink: 0;
                      margin-top: 0.1rem;
                      font-size: 1.5rem;
                      font-weight: 400;
                      line-height: 1.2575;
                      color: #ffffff;
                      font-family: Moderat, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                }
                .frame-321-r9W {
                  align-items: center;
                  flex-shrink: 0;
                  margin-bottom: 1.5rem;
                  width: 100%;
                  display: flex;

                  .rectangle-100-Mrx {
                    height: 2.1rem;
                    background-color: #d9d9d9;
                    flex-shrink: 0;
                    margin-right: 1.3rem;
                    width: 2.3rem;
                  }
                  .social-media-marketing-qn8 {
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #ffffff;
                    font-family: Moderat, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-top: 0.1rem;
                    font-size: 1.5rem;
                  }
                }
                .frame-322-GsS {
                  margin-right: 5rem;
                  width: calc(100% - 5rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .rectangle-101-Ahv {
                    height: 2.1rem;
                    background-color: #d9d9d9;
                    flex-shrink: 0;
                    margin-right: 1.3rem;
                    width: 2.3rem;
                  }
                  .graphic-design-s6Y {
                    font-family: Moderat, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-top: 0.1rem;
                    font-size: 1.5rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #ffffff;
                  }
                }
              }
            }
            .frame-311-Hvx {
              font-family: Moderat, 'Source Sans Pro';
              box-sizing: border-box;
              width: 100%;
              overflow: hidden;
              line-height: 1.2575;
              color: rgba(0, 0, 0, 0.5);
              background-color: #d9d9d9;
              padding: 0.6rem 2.1rem 0.5rem 2.1rem;
              position: relative;
              font-size: 1.5rem;
              font-weight: 400;
              white-space: nowrap;
            }
          }
          .frame-326-vDE {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .message-pZW {
              font-family: Moderat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
            }
            .frame-312-XD2 {
              position: relative;
              background-color: #d9d9d9;
              border-radius: 0.2rem;
              flex-shrink: 0;
              width: 100%;
              height: 16.6rem;
              overflow: hidden;
            }
          }
          .frame-279-29n {
            display: flex;
            height: 6.2rem;
            font-weight: 500;
            line-height: 1.2575;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            background-color: #0003ff;
            width: 100%;
            font-size: 2.4rem;
            color: #ffffff;
            flex-shrink: 0;
          }
        }
      }
    }
    .frame-346-Zov {
      height: 8.8rem;
      position: absolute;
      font-weight: 400;
      white-space: nowrap;
      display: flex;
      background-color: #0066ff;
      width: 42.6rem;
      left: 8.6rem;
      overflow: hidden;
      font-size: 2rem;
      color: #ffffff;
      font-family: Moderat, 'Source Sans Pro';
      line-height: 1.2575;
      justify-content: center;
      border: solid 0.1rem #ffffff;
      top: 47.9rem;
      align-items: center;
      box-sizing: border-box;
    }
    .frame-347-4PJ {
      position: absolute;
      top: 47.9rem;
      justify-content: center;
      height: 8.8rem;
      line-height: 1.2575;
      white-space: nowrap;
      left: 51.2rem;
      overflow: hidden;
      font-size: 2rem;
      font-family: Moderat, 'Source Sans Pro';
      box-sizing: border-box;
      width: 42.6rem;
      font-weight: 400;
      color: #ffffff;
      display: flex;
      align-items: center;
      border: solid 0.1rem #ffffff;
    }
    .frame-343-2De {
      width: 116.25rem;
      height: 26.5rem;
      position: absolute;
      left: 13.3rem;
      top: 260.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .next-steps-6zC {
        margin: 0rem 0.75rem 4.9rem 0rem;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Moderat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .frame-339-Lde {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 19.7rem;

        .auto-group-mljz-s7n {
          box-sizing: border-box;
          padding: 0.9rem 3.3rem 0rem 0rem;
          height: 100%;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .frame-334-A6t {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 5.05rem;
            height: 100%;

            .discovery-call-HSQ {
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.9rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2575;
            }
            .discovery-call-1-9jW {
              width: 13rem;
              height: 13rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-left: 0.65rem;
            }
          }
          .auto-group-txxe-RS8 {
            width: 80.9rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .frame-335-YFr {
              display: flex;
              flex-direction: column;
              width: 13rem;
              height: 18.8rem;
              position: absolute;
              left: 7.7rem;
              top: 0;
              align-items: center;

              .proposal-QYx {
                font-weight: 400;
                line-height: 1.2575;
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 2.2rem 3.9rem 0rem;
                font-size: 1.5rem;
              }
              .proposal-1-gWU {
                width: 13rem;
                height: 13rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .frame-336-ark {
              width: 13.55rem;
              height: 18.8rem;
              position: absolute;
              left: 32.8rem;
              top: 0;

              .decision-making-3kL {
                margin-bottom: 4.9rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
                white-space: nowrap;
              }
              .decision-making-1-YSC {
                margin-left: 1.55rem;
                width: 12rem;
                height: 12rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .frame-337-EZv {
              width: 12.1rem;
              height: 18.8rem;
              position: absolute;
              left: 60rem;
              top: 0;

              .onboarding-Lcx {
                line-height: 1.2575;
                color: #ffffff;
                font-family: Moderat, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 4.9rem 0.3rem;
                font-size: 1.5rem;
                font-weight: 400;
              }
              .onboarding-1-BNg {
                width: 12.1rem;
                height: 12rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .frame-330-tXz {
              left: 0;
              top: 9rem;
              display: flex;
              column-gap: 23.3rem;
              align-items: center;
              width: 80.9rem;
              height: 6.7rem;
              position: absolute;

              .vector-9-yJY {
                width: 2.75rem;
                height: 6.7rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .vector-10-ddz {
                width: 2.75rem;
                height: 6.7rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .vector-11-7xU {
                height: 6.7rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2.75rem;
              }
              .vector-12-qtU {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2.75rem;
                height: 6.7rem;
              }
            }
          }
        }
        .frame-338-XFW {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          flex-direction: column;

          .comprehensive-brand-strategy-eqv {
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Moderat, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 3.9rem;
            max-width: 11.2rem;
            font-size: 1.5rem;
          }
          .comprehensive-brand-strategy-1-jMa {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-left: 1.35rem;
            width: 12rem;
            height: 12rem;
          }
        }
      }
    }
    .frame-348-BzG {
      height: 8.8rem;
      left: 93.8rem;
      overflow: hidden;
      justify-content: center;
      border: solid 0.1rem #ffffff;
      width: 41.6rem;
      top: 47.9rem;
      font-size: 2rem;
      font-weight: 400;
      font-family: Moderat, 'Source Sans Pro';
      display: flex;
      box-sizing: border-box;
      position: absolute;
      line-height: 1.2575;
      color: #ffffff;
      white-space: nowrap;
      align-items: center;
    }
    .thank-you-for-trusting-us-8HE {
      position: absolute;
      top: 301.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2575;
      width: 22.1rem;
      height: 2.6rem;
      left: 58.5rem;
      color: #ffffff;
      font-family: Moderat, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-349-8wS {
      display: flex;
      align-items: center;
      width: 47.4rem;
      height: 4.8rem;
      position: absolute;
      left: 48.8rem;
      top: 49.9rem;

      .group-41-crc {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 37.8rem;
        width: 4.8rem;
        height: 4.8rem;
        object-fit: contain;
      }
      .group-42-h7N {
        height: 4.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 4.8rem;
      }
    }
    .frame-352-byS {
      height: 33.8rem;
      left: 8.6rem;
      top: 56.7rem;
      display: flex;
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      padding-right: 13.1rem;
      width: 126.8rem;
      position: absolute;
      align-items: center;

      .frame-350-Tkk {
        border: solid 0.1rem #ffffff;
        flex-shrink: 0;
        margin-right: 10rem;
        box-sizing: border-box;
        padding: 4.5rem 13.5rem 4.5rem 13.6rem;
        height: 100%;

        .diagnostics-1-7qJ {
          width: 24.8rem;
          height: 24.8rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .frame-351-oTE {
        margin: 9.6rem 0rem 10.8rem 0rem;
        height: calc(100% - 20.4rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .sometimes-the-solution-that-you-want-is-not-what-you-need-tDn {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Moderat, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          max-width: 32.9rem;
        }
        .we-are-committed-to-getting-to-the-heart-of-your-businesss-unique-challenges-by-understanding-your-specific-needs-we-tailor-our-services-to-help-you-tap-into-your-true-potential-our-mission-is-to-work-alongside-you-addressing-the-real-issues-you-face-and-paving-the-way-for-your-success-WW4 {
          max-width: 51.8rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Moderat, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
  }
  .frame-159-otU {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 15.8rem 11.946rem 4rem 11.954rem;
    width: 100%;
    height: 74.2rem;
    background-color: #0e0e0e;

    .frame-157-VFW {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .frame-156-mTv {
        margin-bottom: 11.9rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-155-5jW {
          margin-bottom: 6.0675rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .full-logo-3-cUY {
            margin-bottom: 1.9rem;
            width: 20.9rem;
            height: 3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-154-57E {
            position: relative;
            flex-shrink: 0;
            margin-left: 39.2963rem;
            width: 81.4037rem;
            height: 29.6325rem;

            .frame-153-Lor {
              align-items: flex-start;
              width: 78.6145rem;
              height: 28rem;
              position: absolute;
              left: 0;
              top: 0;
              display: flex;

              .frame-148-3TN {
                row-gap: 6.8rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-right: 21.7037rem;
                height: 100%;

                .info-uEg {
                  font-size: 1.5rem;
                  font-weight: 300;
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .services-wx4 {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.5rem;
                  font-weight: 300;
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                }
                .studio-Deg {
                  font-size: 1.5rem;
                  font-weight: 300;
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .about-us-5B6 {
                  font-size: 1.5rem;
                  font-weight: 300;
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .frame-152-nLQ {
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .frame-149-7Ng {
                  margin-right: 18.9107rem;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .sign-up-zxG {
                    margin-bottom: 6.8rem;
                    font-size: 1.5rem;
                    font-weight: 300;
                    line-height: 1.2575;
                    color: #ffffff;
                    font-family: Moderat, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .book-a-call-6kQ {
                    font-size: 1.5rem;
                    font-weight: 300;
                    line-height: 1.2575;
                    color: #ffffff;
                    font-family: Moderat, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .frame-354-oui {
                  margin-top: 0.1rem;
                  width: 23.5rem;
                  row-gap: 2.1rem;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .group-8-evL {
                    margin: 0rem 11.7rem 0rem 0.167rem;
                    width: calc(100% - 11.8666rem);
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .akar-icons-phone-MJx {
                      margin: 0rem 0.567rem 0.1rem 0rem;
                      width: 1.6667rem;
                      height: 1.6668rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                    }
                    .item-639481125707-RZi {
                      color: #bdbdbd;
                      font-family: Moderat, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.5rem;
                      font-weight: 300;
                      line-height: 1.2575;
                    }
                  }
                  .group-7-ujn {
                    margin-left: 0.1313rem;
                    width: calc(100% - 0.1313rem);
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .carbon-email-Mbn {
                      margin-right: 0.8313rem;
                      width: 1.8375rem;
                      height: 1.3125rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                    }
                    .hellotrueframemediagmailcom-f6g {
                      font-size: 1.5rem;
                      font-weight: 300;
                      line-height: 1.2575;
                      color: #bdbdbd;
                      font-family: Moderat, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                  }
                  .group-1202-kdv {
                    width: calc(100% - 1.8rem);
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    margin-right: 1.8rem;
                    box-sizing: border-box;
                    padding-left: 0.3494rem;

                    .basil-location-outline-25e {
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      margin: 0rem 0.649rem 0.283rem 0rem;
                      width: 1.7013rem;
                      height: 2.0667rem;
                    }
                    .zone-5-brgy-san-joaquin-palo-leytephilippines-tde {
                      max-width: 19rem;
                      font-size: 1.5rem;
                      font-weight: 300;
                      line-height: 1.2575;
                      color: #bdbdbd;
                      font-family: Moderat, 'Source Sans Pro';
                      flex-shrink: 0;
                    }
                  }
                }
              }
            }
            .frame-147-LVe {
              width: 9.7rem;
              height: 2.2308rem;
              position: absolute;
              left: 71.7037rem;
              top: 27.4017rem;
              display: flex;
              column-gap: 1.4rem;
              align-items: center;

              .vector-yYc {
                width: 2.3rem;
                height: 2.1379rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0929rem;
              }
              .akar-icons-instagram-fill-fgL {
                width: 2.2rem;
                height: 2.0449rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0rem;
              }
              .akar-icons-linkedin-v1-fill-Asz {
                flex-shrink: 0;
                width: 2.4rem;
                height: 2.2308rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
        }
        .vector-29-pBr {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 118.3912rem;
          height: 0;
        }
      }
      .frame-150-8TS {
        margin: 0rem 43.349rem 0rem 45.596rem;
        width: calc(100% - 88.9443rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .all-rights-reserved-by-trueframe-media-2023-nnt {
          font-family: Moderat, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 3.65rem;
          font-size: 1.5rem;
          font-weight: 300;
          color: #ffffff;
          text-align: center;
          line-height: 1.2575;
          white-space: nowrap;
        }
        .group-25-cX2 {
          width: 0.9057rem;
          height: 1.3rem;
          position: relative;
          flex-shrink: 0;

          .ellipse-2-jbe {
            top: 0.3rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.9057rem;
            height: 0.9rem;
            position: absolute;
            left: 0;
          }
          .c-3MS {
            white-space: nowrap;
            width: 0.5rem;
            position: absolute;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.2575;
            font-family: Moderat, 'Source Sans Pro';
            height: 1.3rem;
            left: 0.1006rem;
            top: 0;
            color: #ffffff;
          }
        }
      }
    }
  }
}
