
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.studio-4-h28 {
  width: 100%;
  height: 273.9rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .frame-182-psS {
    width: 145.1rem;
    height: 274rem;

    .frame-180-xik {
      margin-left: 0.3rem;
      box-sizing: border-box;
      padding-bottom: 20.4rem;
      align-items: center;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:8fa4e98fc66e756df69ea2986d445d5c3332a6fd');
      width: 144.8rem;
      display: flex;
      flex-direction: column;
      background-size: 100% 100%;

      .auto-group-3rsy-VCt {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 26.2rem;
        width: 100%;
        height: 12.1rem;

        .navigation-bar-2ic {
          width: 144.8rem;
          height: 12.1rem;
          position: absolute;
          left: 0;
          top: 0;
          overflow: hidden;
          background-color: #ffffff;

          .rectangle-2-AZv {
            height: 13.2rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 144.8rem;
          }
          .homepage-bg-1-2-hJx {
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 144rem;
            height: 12.1rem;
            position: absolute;
            left: 0.4rem;
          }
          .group-41-2ME {
            left: 8.5rem;
            top: 3.3rem;
            display: flex;
            align-items: center;
            width: 125.6rem;
            height: 4.9rem;
            position: absolute;

            .asset-2-1-YaU {
              height: 4.6rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.3rem 24.4rem 0rem 0rem;
              width: 4.6rem;
            }
            .auto-group-sk28-4Yp {
              margin: 1.4rem 8.4rem 1.6rem 0rem;
              width: 72.5rem;
              height: calc(100% - 3rem);
              flex-shrink: 0;

              .frame-365-bHr {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                .info-94U {
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 11.3rem;
                  font-size: 1.5rem;
                  font-weight: 500;
                }
                .services-FNQ {
                  font-size: 1.5rem;
                  font-weight: 500;
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 12.3rem;
                }
                .studio-BG4 {
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 11.7rem;
                  font-size: 1.5rem;
                  font-weight: 500;
                  line-height: 1.2575;
                }
                .about-us-i16 {
                  margin-right: 12.3rem;
                  font-size: 1.5rem;
                  font-weight: 500;
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .store-TDa {
                  flex-shrink: 0;
                  font-size: 1.5rem;
                  font-weight: 500;
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
            .group-43-PN8 {
              width: 15.7rem;
              height: 4.7rem;
              position: relative;
              flex-shrink: 0;
              margin-bottom: 0.2rem;

              .contact-us-Xz8 {
                height: 1.9rem;
                position: absolute;
                left: 2.2rem;
                font-weight: 400;
                color: #ffffff;
                width: 8.1rem;
                top: 1.4rem;
                font-size: 1.5rem;
                line-height: 1.2575;
                font-family: Moderat, 'Source Sans Pro';
                white-space: nowrap;
              }
              .rectangle-27-eJ4 {
                border: solid 0.1rem #ffffff;
                box-sizing: border-box;
                width: 15.7rem;
                height: 4.7rem;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }
        }
        .vector-40-MyA {
          width: 6.3rem;
          height: 0;
          position: absolute;
          left: 75.5rem;
          top: 7.2rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .frame-178-hGL {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 12.5rem 0rem 11.9rem;
        width: calc(100% - 24.4rem);
        align-items: center;

        .web-design-development-cPJ {
          color: #ffffff;
          font-family: Moderat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 9.9rem 12.5rem 0rem;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.2575;
        }
        .we-bridge-the-gaps-to-deliver-a-fully-customized-and-purposeful-experience-honing-in-on-constructing-a-strategic-brand-approach-that-aligns-seamlessly-with-your-business-goals-we-sculpt-a-timeless-adaptable-brand-that-goes-beyond-fleeting-trends-growing-in-tandem-with-your-business-a-brand-that-forges-meaningful-connections-with-your-audience-and-simplifies-the-entire-business-building-journey-your-aspirations-for-your-business-are-within-reach-beginning-with-a-clear-vision-through-our-methodical-approach-we-ensure-your-brand-is-primed-for-sustained-growth-together-we-breathe-life-into-your-vision-empowering-you-to-elevate-your-business-with-confidence-and-clarity-vPz {
          margin-bottom: 12.2rem;
          text-align: center;
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
          max-width: 120.4rem;
          font-size: 1.5rem;
          font-family: Moderat, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .vector-23-YJt {
          width: 53.1rem;
          height: 0rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .frame-179-ecp {
      margin: 0rem 0.75rem 0rem 0.25rem;
      box-sizing: border-box;
      padding: 14.8rem 9.3rem;
      width: calc(100% - 1rem);
      height: 99.9rem;
      background-color: #0e0e0e;

      .frame-177-kvk {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .featured-works-VdS {
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Moderat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 5.8rem 12.8rem 0rem;
        }
        .frame-176-D3e {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .frame-168-NSL {
            margin-bottom: 7.4rem;
            width: 100%;
            height: 22.2rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-167-im6 {
              flex-direction: column;
              flex-shrink: 0;
              width: 34.5rem;
              height: 100%;
              align-items: center;
              display: flex;

              .image-10-gC8 {
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 3.6rem;
                width: 34.5rem;
                height: 16.5rem;
              }
              .frame-166-pZE {
                margin: 0 10.05rem;
                width: calc(100% - 20.1rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .events-exhibition-mDa {
                  font-weight: 300;
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.2rem;
                  font-size: 1.5rem;
                }
                .vector-30-VfN {
                  height: 0;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-left: 0.1rem;
                  width: 14.3rem;
                }
              }
            }
            .auto-group-iqbj-3B6 {
              box-sizing: border-box;
              padding: 0.6rem 0rem 0rem 8.8rem;
              height: 100%;
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;

              .frame-165-NUG {
                height: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-right: 8.8rem;
                width: 35.9rem;

                .image-6-uj6 {
                  margin-bottom: 3.6rem;
                  width: 35.9rem;
                  height: 15.9rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .frame-164-FY4 {
                  margin: 0 9.3rem;
                  width: calc(100% - 18.6rem);
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .the-nft-connoisseurs-o3n {
                    font-size: 1.5rem;
                    font-weight: 300;
                    line-height: 1.2575;
                    color: #ffffff;
                    font-family: Moderat, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.2rem;
                  }
                  .vector-31-XkU {
                    flex-shrink: 0;
                    margin-left: 0.1rem;
                    width: 17.2rem;
                    height: 0;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
              }
              .frame-163-g7a {
                width: 37.5rem;
                height: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .image-7-doW {
                  margin-bottom: 3.6rem;
                  width: 37.5rem;
                  height: 15.9rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .frame-162-Nm6 {
                  flex-direction: column;
                  flex-shrink: 0;
                  margin: 0 16.25rem;
                  width: calc(100% - 32.5rem);
                  display: flex;

                  .zenkai-jLk {
                    line-height: 1.2575;
                    color: #ffffff;
                    font-family: Moderat, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.2rem;
                    font-size: 1.5rem;
                    font-weight: 300;
                  }
                  .vector-32-g16 {
                    flex-shrink: 0;
                    width: 5rem;
                    height: 0;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
              }
            }
          }
          .frame-175-1p4 {
            height: 22.8rem;
            display: flex;
            column-gap: 9rem;
            align-items: center;
            flex-shrink: 0;

            .frame-170-Agx {
              flex-direction: column;
              flex-shrink: 0;
              width: 34rem;
              height: 100%;
              align-items: center;
              display: flex;

              .image-8-XXW {
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 4.4rem;
                width: 34rem;
                height: 16.3rem;
              }
              .frame-169-ftc {
                margin: 0 11.7rem;
                width: calc(100% - 23.4rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .hannah-david-cYx {
                  font-weight: 300;
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.2rem;
                  font-size: 1.5rem;
                }
                .vector-33-9on {
                  margin-left: 0.1rem;
                  width: 10.5rem;
                  height: 0;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
            .frame-172-Vse {
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              width: 36rem;

              .image-9-38U {
                height: 17.1rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 3.6rem;
                width: 36rem;
              }
              .frame-171-PCL {
                margin: 0 14.35rem;
                width: calc(100% - 28.7rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .blueclerk-jX6 {
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.2rem;
                  font-size: 1.5rem;
                  font-weight: 300;
                }
                .vector-34-s7W {
                  width: 7.3rem;
                  height: 0;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
            .frame-174-Qt8 {
              width: 37.2rem;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .image-11-mig {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 3.6rem;
                width: 37.2rem;
                height: 17.1rem;
                object-fit: cover;
              }
              .frame-173-iP2 {
                flex-shrink: 0;
                margin: 0 16.45rem;
                width: calc(100% - 32.9rem);
                display: flex;
                flex-direction: column;

                .tawla-4hn {
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: Moderat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.2rem;
                  font-size: 1.5rem;
                  font-weight: 300;
                }
                .vector-35-ofN {
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 4.3rem;
                  height: 0;
                  object-fit: contain;
                }
              }
            }
          }
        }
      }
    }
    .frame-160-wWg {
      box-sizing: border-box;
      padding: 15.8rem 11.946rem 4rem 11.954rem;
      width: 144.6rem;
      height: 74.2rem;
      background-color: #0e0e0e;

      .frame-157-rtY {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .frame-156-Dyz {
          margin-bottom: 11.9rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .frame-155-zE4 {
            margin-bottom: 6.0675rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .full-logo-3-kU8 {
              margin-bottom: 1.9rem;
              width: 20.9rem;
              height: 3rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-4hh2-h8U {
              position: relative;
              flex-shrink: 0;
              margin-left: 35.7456rem;
              width: 84.9543rem;
              height: 29.6325rem;

              .frame-154-dnp {
                position: absolute;
                left: 3.5506rem;
                top: 0;
                width: 81.4037rem;
                height: 29.6325rem;

                .frame-153-NVW {
                  left: 0;
                  top: 0;
                  display: flex;
                  align-items: flex-start;
                  width: 78.6145rem;
                  height: 28rem;
                  position: absolute;

                  .frame-148-KQk {
                    height: 100%;
                    row-gap: 6.8rem;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    margin-right: 21.7038rem;

                    .info-fDi {
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.5rem;
                      font-weight: 300;
                      line-height: 1.2575;
                      color: #ffffff;
                      font-family: Moderat, 'Source Sans Pro';
                    }
                    .services-c8x {
                      font-size: 1.5rem;
                      font-weight: 300;
                      line-height: 1.2575;
                      color: #ffffff;
                      font-family: Moderat, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .studio-MMS {
                      font-weight: 300;
                      line-height: 1.2575;
                      color: #ffffff;
                      font-family: Moderat, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.5rem;
                    }
                    .about-us-PZ2 {
                      font-weight: 300;
                      line-height: 1.2575;
                      color: #ffffff;
                      font-family: Moderat, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.5rem;
                    }
                  }
                  .frame-152-vYx {
                    display: flex;
                    align-items: flex-start;
                    flex-shrink: 0;

                    .frame-149-H8c {
                      flex-direction: column;
                      flex-shrink: 0;
                      margin-right: 18.9108rem;
                      display: flex;

                      .sign-up-cgg {
                        font-weight: 300;
                        line-height: 1.2575;
                        color: #ffffff;
                        font-family: Moderat, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                        margin-bottom: 6.8rem;
                        font-size: 1.5rem;
                      }
                      .book-a-call-vBa {
                        font-family: Moderat, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                        font-size: 1.5rem;
                        font-weight: 300;
                        line-height: 1.2575;
                        color: #ffffff;
                      }
                    }
                    .frame-354-42t {
                      margin-top: 0.1rem;
                      width: 23.5rem;
                      row-gap: 2.1rem;
                      display: flex;
                      flex-direction: column;
                      flex-shrink: 0;

                      .group-8-nzU {
                        margin: 0rem 11.7rem 0rem 0.167rem;
                        width: calc(100% - 11.8667rem);
                        display: flex;
                        align-items: center;
                        flex-shrink: 0;

                        .akar-icons-phone-KUc {
                          width: 1.6667rem;
                          height: 1.6668rem;
                          object-fit: contain;
                          vertical-align: top;
                          flex-shrink: 0;
                          margin: 0rem 0.567rem 0.1rem 0rem;
                        }
                        .item-639481125707-e16 {
                          color: #bdbdbd;
                          font-family: Moderat, 'Source Sans Pro';
                          white-space: nowrap;
                          flex-shrink: 0;
                          font-size: 1.5rem;
                          font-weight: 300;
                          line-height: 1.2575;
                        }
                      }
                      .group-7-Ak8 {
                        width: calc(100% - 0.1313rem);
                        display: flex;
                        align-items: center;
                        flex-shrink: 0;
                        margin-left: 0.1313rem;

                        .carbon-email-Woz {
                          height: 1.3125rem;
                          object-fit: contain;
                          vertical-align: top;
                          flex-shrink: 0;
                          margin-right: 0.8313rem;
                          width: 1.8375rem;
                        }
                        .hellotrueframemediagmailcom-rcx {
                          font-family: Moderat, 'Source Sans Pro';
                          white-space: nowrap;
                          flex-shrink: 0;
                          font-size: 1.5rem;
                          font-weight: 300;
                          line-height: 1.2575;
                          color: #bdbdbd;
                        }
                      }
                      .group-1202-aor {
                        margin-right: 1.8rem;
                        box-sizing: border-box;
                        padding-left: 0.3494rem;
                        width: calc(100% - 1.8rem);
                        display: flex;
                        align-items: center;
                        flex-shrink: 0;

                        .basil-location-outline-vMv {
                          width: 1.7012rem;
                          height: 2.0667rem;
                          object-fit: contain;
                          vertical-align: top;
                          flex-shrink: 0;
                          margin: 0rem 0.649rem 0.283rem 0rem;
                        }
                        .zone-5-brgy-san-joaquin-palo-leytephilippines-3hS {
                          flex-shrink: 0;
                          max-width: 19rem;
                          font-size: 1.5rem;
                          font-weight: 300;
                          line-height: 1.2575;
                          color: #bdbdbd;
                          font-family: Moderat, 'Source Sans Pro';
                        }
                      }
                    }
                  }
                }
                .frame-147-LwS {
                  display: flex;
                  column-gap: 1.4rem;
                  align-items: center;
                  width: 9.7rem;
                  height: 2.2308rem;
                  position: absolute;
                  left: 71.7037rem;
                  top: 27.4017rem;

                  .vector-58L {
                    height: 2.1379rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-bottom: 0.0929rem;
                    width: 2.3rem;
                  }
                  .akar-icons-instagram-fill-1Xn {
                    margin-bottom: 0rem;
                    width: 2.2rem;
                    height: 2.0449rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .akar-icons-linkedin-v1-fill-8cQ {
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    width: 2.4rem;
                    height: 2.2308rem;
                  }
                }
              }
              .about-us-51r {
                height: 1.9rem;
                position: absolute;
                top: 27rem;
                font-weight: 300;
                font-family: Moderat, 'Source Sans Pro';
                white-space: nowrap;
                width: 6.4rem;
                left: 0;
                font-size: 1.5rem;
                line-height: 1.2575;
                color: #ffffff;
              }
            }
          }
          .vector-29-yN8 {
            flex-shrink: 0;
            width: 118.3912rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .frame-150-iKi {
          align-items: flex-start;
          flex-shrink: 0;
          margin: 0rem 43.349rem 0rem 45.596rem;
          width: calc(100% - 88.9443rem);
          display: flex;

          .all-rights-reserved-by-trueframe-media-2023-T2Q {
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.2575;
            font-family: Moderat, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 3.65rem;
            text-align: center;
            color: #ffffff;
            flex-shrink: 0;
          }
          .group-25-ABi {
            height: 1.3rem;
            position: relative;
            flex-shrink: 0;
            width: 0.9056rem;

            .ellipse-2-WWU {
              position: absolute;
              left: 0;
              top: 0.3rem;
              object-fit: contain;
              vertical-align: top;
              width: 0.9056rem;
              height: 0.9rem;
            }
            .c-42C {
              left: 0.1006rem;
              font-weight: 500;
              white-space: nowrap;
              width: 0.5rem;
              height: 1.3rem;
              position: absolute;
              top: 0;
              font-size: 1rem;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Moderat, 'Source Sans Pro';
            }
          }
        }
      }
    }
  }
}
