@font-face {
  font-family: 'Moderat Extended';
  src: url("/font/Moderat-Extended-Medium.eot");
  src: local('Moderat Extended Medium'), local('Moderat-Extended-Medium'),
      url('Moderat-Extended-Medium.eot?#iefix') format('embedded-opentype'),
      url('Moderat-Extended-Medium.woff2') format('woff2'),
      url('Moderat-Extended-Medium.woff') format('woff'),
      url('Moderat-Extended-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}




html {
	font-size:62.5%;
  overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.info-2-J24 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.info-2-J24 .auto-group-dxcl-pWC {
  width: 144.8rem;
  height: 100.7rem;
  position: relative;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-dxcl-pWC .frame-287-92g {
  box-sizing: border-box;
  padding: 7.2rem 7.65rem 26.65rem 7.65rem;
  width: 144rem;
  height: 100.7rem;
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2, 80.625rem);
  grid-auto-rows: 34.725rem;
  row-gap: 8.25rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/homepage-bg-1-2-bg.png');
}
.info-2-J24 .auto-group-dxcl-pWC .frame-287-92g .frame-199-CWk {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.info-2-J24 .auto-group-dxcl-pWC .frame-287-92g .frame-199-CWk .frame-14-ACg {
  margin-bottom: 20.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-dxcl-pWC .frame-287-92g .frame-199-CWk .frame-14-ACg .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx {
  margin-bottom: 5.1rem;
  text-align: center;
  font-size: 120px;
  font-weight: 700;
  line-height: 1.6100002289;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-dxcl-pWC .frame-287-92g .frame-199-CWk .frame-14-ACg .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx-sub-0 {
  font-size: 120px;
  font-weight: 700;
  line-height: 1.6871458973;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
}
.info-2-J24 .auto-group-dxcl-pWC .frame-287-92g .frame-199-CWk .frame-14-ACg .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx-sub-1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.6871458973;
  color: #0003ff;
  font-family: Moderat, 'Source Sans Pro';
}
.info-2-J24 .auto-group-dxcl-pWC .frame-287-92g .frame-199-CWk .frame-14-ACg .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx-sub-2 {
  font-size: 120px;
  font-weight: 700;
  line-height: 1.6871458973;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
}
.info-2-J24 .auto-group-dxcl-pWC .frame-287-92g .frame-199-CWk .frame-14-ACg .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx-sub-3 {
  font-size: 120px;
  font-weight: 700;
  line-height: 1.6871458973;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
}
.info-2-J24 .auto-group-dxcl-pWC .frame-287-92g .frame-199-CWk .frame-14-ACg .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx-sub-4 {
  font-size: 120px;
  font-weight: 700;
  line-height: 1.6871458973;
  color: #0066ff;
  font-family: Moderat, 'Source Sans Pro';
}
.info-2-J24 .auto-group-dxcl-pWC .frame-287-92g .frame-199-CWk .frame-14-ACg .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx .the-trueframe-blueprint-discover-on-how-we-help-your-brand-unlock-its-true-potential-uvx-sub-5 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6871458973;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
}
.info-2-J24 .auto-group-dxcl-pWC .frame-287-92g .frame-199-CWk .frame-14-ACg .vector-4-zmN {
  width: 69.9rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-dxcl-pWC .frame-287-92g .frame-199-CWk .vector-6-YH6 {
  width: 6.7rem;
  height: 2.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-dxcl-pWC .frame-287-92g .rectangle-39-UgY {
  width: 4.4rem;
  height: 0.1rem;
  background-color: #d9d9d9;
}
.info-2-J24 .auto-group-dxcl-pWC .frame-287-92g .vector-40-1wN {
  width: 4.4rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
}
.info-2-J24 .auto-group-dxcl-pWC .navigation-bar-Lik {
  width: 144.8rem;
  height: 12.1rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
}
.info-2-J24 .auto-group-dxcl-pWC .navigation-bar-Lik .rectangle-2-5RS {
  width: 144.8rem;
  height: 13.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.info-2-J24 .auto-group-dxcl-pWC .navigation-bar-Lik .homepage-bg-1-2-1Zz {
  width: 144rem;
  height: 12.1rem;
  position: absolute;
  left: 0.4rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.info-2-J24 .auto-group-dxcl-pWC .navigation-bar-Lik .group-41-wCk {
  width: 125.6rem;
  height: 4.9rem;
  position: absolute;
  left: 8.5rem;
  top: 3.4rem;
  display: flex;
  align-items: center;
}
.info-2-J24 .auto-group-dxcl-pWC .navigation-bar-Lik .group-41-wCk .asset-2-1-s6Q {
  margin: 0.3rem 24.4rem 0rem 0rem;
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-dxcl-pWC .navigation-bar-Lik .group-41-wCk .auto-group-mfrx-yfE {
  margin: 1.4rem 8.4rem 1.6rem 0rem;
  width: 72.5rem;
  height: calc(100% - 3rem);
  flex-shrink: 0;
}
.info-2-J24 .auto-group-dxcl-pWC .navigation-bar-Lik .group-41-wCk .auto-group-mfrx-yfE .frame-365-6jr {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.info-2-J24 .auto-group-dxcl-pWC .navigation-bar-Lik .group-41-wCk .auto-group-mfrx-yfE .frame-365-6jr .info-emN {
  margin-right: 11.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-dxcl-pWC .navigation-bar-Lik .group-41-wCk .auto-group-mfrx-yfE .frame-365-6jr .services-auv {
  margin-right: 12.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-dxcl-pWC .navigation-bar-Lik .group-41-wCk .auto-group-mfrx-yfE .frame-365-6jr .studio-vit {
  margin-right: 11.7rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-dxcl-pWC .navigation-bar-Lik .group-41-wCk .auto-group-mfrx-yfE .frame-365-6jr .about-us-fRa {
  margin-right: 12.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-dxcl-pWC .navigation-bar-Lik .group-41-wCk .auto-group-mfrx-yfE .frame-365-6jr .store-c5v {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-dxcl-pWC .navigation-bar-Lik .group-41-wCk .group-43-YkG {
  margin-bottom: 0.2rem;
  width: 15.7rem;
  height: 4.7rem;
  position: relative;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-dxcl-pWC .navigation-bar-Lik .group-41-wCk .group-43-YkG .contact-us-6Fz {
  width: 8.1rem;
  height: 1.9rem;
  position: absolute;
  left: 2.2rem;
  top: 1.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
}
.info-2-J24 .auto-group-dxcl-pWC .navigation-bar-Lik .group-41-wCk .group-43-YkG .rectangle-27-nec {
  width: 15.7rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
}
.info-2-J24 .auto-group-pjey-Jsr {
  width: 144.3rem;
  height: 404.3rem;
  position: relative;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA {
  width: 144.2rem;
  height: 101.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0e0e0e;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-198-BRr {
  width: 97rem;
  height: 96.3rem;
  position: absolute;
  left: 23.1rem;
  top: 4.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-198-BRr .trueframe-blueprint-use {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-198-BRr .frame-194-2xG {
  width: 100%;
  height: 87.2rem;
  position: relative;
  filter: blur(4.5rem);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/untitled-2-1-bg.png');
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-198-BRr .frame-194-2xG .group-11-PXv {
  width: 61.3403rem;
  height: 41.8402rem;
  position: absolute;
  left: 18.4005rem;
  top: 20.6763rem;
  object-fit: contain;
  vertical-align: top;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-198-BRr .frame-194-2xG .frame-196-XPE {
  width: 39.6rem;
  height: 73.4rem;
  position: absolute;
  left: 28.6rem;
  top: 5.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-198-BRr .frame-194-2xG .frame-196-XPE .frame-110-TGt {
  margin-bottom: 39.9rem;
  width: 100%;
  height: 15.8rem;
  position: relative;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-198-BRr .frame-194-2xG .frame-196-XPE .frame-110-TGt .item-1-obe {
  width: 3.4rem;
  height: 8.1rem;
  position: absolute;
  left: 18.1rem;
  top: 0;
  text-align: right;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-198-BRr .frame-194-2xG .frame-196-XPE .frame-110-TGt .frame-109-76Y {
  width: 39.6rem;
  height: 8.1rem;
  position: absolute;
  left: 0;
  top: 7.7rem;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-198-BRr .frame-194-2xG .frame-196-XPE .frame-110-TGt .frame-109-76Y .get-attention-FCk {
  width: 14rem;
  height: 2.6rem;
  position: absolute;
  left: 13.15rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-198-BRr .frame-194-2xG .frame-196-XPE .frame-110-TGt .frame-109-76Y .create-a-viral-social-media-content-that-introduces-the-brand-or-product-to-potential-customers-in-a-non-salesy-way-entertaining-bold-statements-9ov {
  width: 39.6rem;
  height: 5.7rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-198-BRr .frame-194-2xG .frame-196-XPE .frame-104-nrt {
  margin: 0rem 6.1rem 0rem 5.6rem;
  width: calc(100% - 11.7rem);
  height: 17.7rem;
  position: relative;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-198-BRr .frame-194-2xG .frame-196-XPE .frame-104-nrt .item-3-WXz {
  width: 3.4rem;
  height: 8.1rem;
  position: absolute;
  left: 12.85rem;
  top: 0;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-198-BRr .frame-194-2xG .frame-196-XPE .frame-104-nrt .frame-103-DxC {
  width: 27.9rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 7.7rem;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-198-BRr .frame-194-2xG .frame-196-XPE .frame-104-nrt .frame-103-DxC .build-trust-a24 {
  width: 11.7rem;
  height: 2.6rem;
  position: absolute;
  left: 8.7rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-198-BRr .frame-194-2xG .frame-196-XPE .frame-104-nrt .frame-103-DxC .establish-credibility-by-demonstrating-expertise-customer-testimonials-and-results-data-on-your-website-webinars-ugc-and-reviews-VPv {
  width: 27.9rem;
  height: 7.6rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-195-7RJ {
  width: 101.9rem;
  height: 18.1rem;
  position: absolute;
  left: 20.7rem;
  top: 45.6rem;
  display: flex;
  align-items: flex-start;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-195-7RJ .frame-106-qs6 {
  margin: 0.1rem 42.3rem 0rem 0rem;
  width: 30.3rem;
  height: 16rem;
  position: relative;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-195-7RJ .frame-106-qs6 .item-4-n1e {
  width: 3.4rem;
  height: 8.1rem;
  position: absolute;
  left: 13.9rem;
  top: 0;
  text-align: right;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-195-7RJ .frame-106-qs6 .frame-105-t4g {
  width: 30.3rem;
  height: 8.3rem;
  position: absolute;
  left: 0;
  top: 7.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-195-7RJ .frame-106-qs6 .frame-105-t4g .take-action-d2G {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-195-7RJ .frame-106-qs6 .frame-105-t4g .strong-call-to-action-incentives-or-closing-deals-which-solidifies-their-transition-from-a-prospect-to-a-paying-customer-free-shipping-discounts-xKS {
  max-width: 30.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-195-7RJ .frame-108-p6k {
  width: 29.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-195-7RJ .frame-108-p6k .item-2-xye {
  width: 3.4rem;
  height: 8.1rem;
  position: absolute;
  left: 13.65rem;
  top: 0;
  text-align: right;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-195-7RJ .frame-108-p6k .frame-107-5oN {
  width: 29.3rem;
  height: 10.4rem;
  position: absolute;
  left: 0;
  top: 7.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-195-7RJ .frame-108-p6k .frame-107-5oN .spark-interest-RsE {
  margin: 0rem 0rem 0.2rem 0.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .frame-195-7RJ .frame-108-p6k .frame-107-5oN .stimulate-curiousity-through-appealing-offers-which-encourage-potential-customers-to-click-for-more-information-or-free-resources-lead-magnets-irL {
  max-width: 29.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .group-12-z3A {
  width: 54.5rem;
  height: 54.5rem;
  position: absolute;
  left: 44.8333rem;
  top: 27.6rem;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .group-12-z3A .vector-7-uvp {
  width: 0;
  height: 3.1973rem;
  position: absolute;
  left: 26.7413rem;
  top: 7.7027rem;
  object-fit: contain;
  vertical-align: top;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .group-12-z3A .vector-10-rLG {
  width: 0;
  height: 3.1973rem;
  position: absolute;
  left: 26.7413rem;
  top: 43.7453rem;
  object-fit: contain;
  vertical-align: top;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .group-12-z3A .vector-8-PLC {
  width: 4.687rem;
  height: 0;
  position: absolute;
  left: 43.7453rem;
  top: 26.378rem;
  object-fit: contain;
  vertical-align: top;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .group-12-z3A .vector-9-Kje {
  width: 4.687rem;
  height: 0;
  position: absolute;
  left: 6.1767rem;
  top: 26.378rem;
  object-fit: contain;
  vertical-align: top;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .group-12-z3A .frame-189-4SL {
  box-sizing: border-box;
  padding: 9.592rem 10.101rem 9.737rem 10.173rem;
  width: 54.5rem;
  height: 54.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(217, 217, 217, 0.1000000015);
  border-radius: 27.25rem;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-288-SjA .group-12-z3A .frame-189-4SL .trueframe-blueprint-1-BWx {
  width: 34.226rem;
  height: 35.1707rem;
  object-fit: cover;
  vertical-align: top;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-285-tAU {
  box-sizing: border-box;
  padding: 10.3rem 19.7rem 13.55rem 10.2rem;
  width: 144.1rem;
  height: 99.9rem;
  position: absolute;
  left: 0;
  top: 203.2rem;
  background-color: #0e0e0e;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-285-tAU .frame-200-zjJ {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-285-tAU .frame-200-zjJ .frame-101-xAL {
  margin-bottom: 16.2rem;
  width: 100%;
  height: 57.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-285-tAU .frame-200-zjJ .frame-101-xAL .frame-100-u5a {
  margin: 9.15rem 19.7rem 9.15rem 0rem;
  width: 54.1rem;
  height: calc(100% - 18.3rem);
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-285-tAU .frame-200-zjJ .frame-101-xAL .frame-100-u5a .frame-99-RZi {
  margin-bottom: 5.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-285-tAU .frame-200-zjJ .frame-101-xAL .frame-100-u5a .frame-99-RZi .unlocking-your-brands-true-potential-BHz {
  margin-bottom: 3.8rem;
  max-width: 41rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-285-tAU .frame-200-zjJ .frame-101-xAL .frame-100-u5a .frame-99-RZi .in-todays-fast-paced-business-world-making-your-brand-stand-out-is-crucial-weve-got-a-straightforward-plan-to-take-your-brand-to-new-heights-boosting-your-brand-doesnt-have-to-be-complicated-it-only-needs-to-be-simple-yet-concentrated-its-a-simple-plan-designed-with-care-driven-by-creativity-and-perfected-through-teamwork-were-here-to-help-your-brand-find-its-true-potential-and-outshine-in-the-market-VZa {
  max-width: 54.1rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-285-tAU .frame-200-zjJ .frame-101-xAL .frame-100-u5a .group-23-eqn {
  width: 36.8rem;
  height: 6.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0003ff;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-285-tAU .frame-200-zjJ .frame-101-xAL .concentrated-2-9nY {
  width: 40.4rem;
  height: 57.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-285-tAU .frame-200-zjJ .vector-8-VLc {
  width: 6.7rem;
  height: 2.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS {
  box-sizing: border-box;
  padding: 19.2rem 8.5rem 20.5rem 8.4rem;
  width: 144.1rem;
  height: 101.7rem;
  position: absolute;
  left: 0;
  top: 101.6rem;
  background-color: #0e0e0e;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .how-we-will-work-with-you-ufE {
  margin: 0rem 8.4rem 9.5rem 0rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-93-PaQ {
  margin-bottom: 11.3rem;
  width: 100%;
  height: 18.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-93-PaQ .frame-90-wM2 {
  margin-right: 12rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-93-PaQ .frame-90-wM2 .item-1-6Dv {
  margin-bottom: 0.9rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-93-PaQ .frame-90-wM2 .understanding-your-brand-2NU {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-93-PaQ .frame-90-wM2 .we-start-by-getting-to-know-your-brand-inside-out-we-look-at-what-makes-it-unique-from-its-values-to-its-goals-understanding-these-details-sets-the-stage-for-a-customized-strategy-that-clicks-with-your-audience-MQk {
  max-width: 34.2rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-93-PaQ .frame-91-zyW {
  margin-right: 12.9rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-93-PaQ .frame-91-zyW .item-2-9rQ {
  margin-bottom: 0.9rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-93-PaQ .frame-91-zyW .telling-your-story-6Fr {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-93-PaQ .frame-91-zyW .our-team-works-closely-with-yours-to-create-a-story-that-goes-beyond-what-you-sell-we-tap-into-the-emotions-your-brand-wants-to-convey-making-sure-every-interaction-tells-a-powerful-and-consistent-tale-EN4 {
  max-width: 33.3rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-93-PaQ .frame-92-5da {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-93-PaQ .frame-92-5da .item-3-pbA {
  margin-bottom: 0.9rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-93-PaQ .frame-92-5da .finding-your-spot-Mqz {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-93-PaQ .frame-92-5da .in-a-crowded-market-standing-out-is-vital-we-dig-into-the-market-finding-the-best-spots-for-your-brand-this-ensures-your-brand-not-only-joins-the-conversation-but-leads-it-VxC {
  max-width: 34.8rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-97-mPv {
  height: 17.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-97-mPv .frame-94-7ig {
  margin-right: 13.6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-97-mPv .frame-94-7ig .item-4-fkC {
  margin-bottom: 0.5rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-97-mPv .frame-94-7ig .getting-everywhere-QSt {
  margin-bottom: 0.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-97-mPv .frame-94-7ig .your-brands-strength-lies-in-reaching-people-wherever-they-are-we-cover-all-the-bases-from-social-media-to-traditional-methods-to-make-sure-your-brand-is-everywhere-your-audience-is-bGU {
  max-width: 32.6rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-97-mPv .frame-95-qgc {
  margin-right: 12.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-97-mPv .frame-95-qgc .item-5-Py2 {
  margin-bottom: 0.5rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-97-mPv .frame-95-qgc .learning-and-improving-vi4 {
  margin-bottom: 0.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-97-mPv .frame-95-qgc .our-blueprint-isnt-a-one-time-thing-it-evolves-we-use-data-to-see-whats-working-and-what-can-be-better-this-way-your-brand-stays-flexible-and-can-adjust-to-changes-in-the-market-TT6 {
  max-width: 33.7rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-97-mPv .frame-96-sFv {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-97-mPv .frame-96-sFv .item-6-dF6 {
  margin-bottom: 0.5rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-97-mPv .frame-96-sFv .teamwork-yJx {
  margin-bottom: 0.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-286-2bS .frame-111-wiQ .frame-98-EBi .frame-97-mPv .frame-96-sFv .your-brands-success-is-a-joint-effort-we-believe-in-working-together-closely-keeping-communication-open-our-team-becomes-an-extension-of-yours-working-side-by-side-to-overcome-challenges-and-celebrate-victories-Wpg {
  max-width: 34.7rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-284-Z2G {
  box-sizing: border-box;
  padding: 19.7rem 17.7rem 15.4rem 13.4rem;
  width: 144.3rem;
  height: 101.7rem;
  position: absolute;
  left: 0;
  top: 302.6rem;
  background-color: #0e0e0e;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-284-Z2G .frame-113-s2x {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-284-Z2G .frame-113-s2x .ash-1-cmE {
  margin-right: 14.1rem;
  width: 47.1rem;
  height: 66.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-284-Z2G .frame-113-s2x .frame-112-AGx {
  margin: 23.1rem 0;
  height: calc(100% - 46.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-284-Z2G .frame-113-s2x .frame-112-AGx .are-you-ready-to-take-on-the-next-level-for-your-brand-UoS {
  margin-bottom: 5.1rem;
  max-width: 52rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-2-J24 .auto-group-pjey-Jsr .frame-284-Z2G .frame-113-s2x .frame-112-AGx .group-24-CDe {
  width: 33.8rem;
  height: 6.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0003ff;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC {
  box-sizing: border-box;
  padding: 15.8rem 11.946rem 4rem 11.954rem;
  width: 100%;
  height: 74.2rem;
  background-color: #0e0e0e;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp {
  margin-bottom: 11.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 {
  margin-bottom: 6.0675rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .full-logo-3-rBi {
  margin-bottom: 1.9rem;
  width: 20.9rem;
  height: 3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv {
  margin-left: 39.2962rem;
  width: 81.4037rem;
  height: 29.6325rem;
  position: relative;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 {
  width: 78.6145rem;
  height: 28rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-148-UD6 {
  margin-right: 21.7038rem;
  height: 100%;
  row-gap: 6.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-148-UD6 .info-cKJ {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-148-UD6 .services-9q2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-148-UD6 .studio-6VN {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-148-UD6 .about-us-Sp8 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-152-PUU {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-152-PUU .frame-149-kK2 {
  margin-right: 18.9108rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-152-PUU .frame-149-kK2 .sign-up-JrL {
  margin-bottom: 6.8rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-152-PUU .frame-149-kK2 .book-a-call-TDS {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-152-PUU .frame-354-zjA {
  margin-top: 0.1rem;
  width: 23.5rem;
  row-gap: 2.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-152-PUU .frame-354-zjA .group-8-T6x {
  margin: 0rem 11.7rem 0rem 0.167rem;
  width: calc(100% - 11.8666rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-152-PUU .frame-354-zjA .group-8-T6x .akar-icons-phone-Yu6 {
  margin: 0rem 0.567rem 0.1rem 0rem;
  width: 1.6667rem;
  height: 1.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-152-PUU .frame-354-zjA .group-8-T6x .item-639481125707-fip {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #bdbdbd;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-152-PUU .frame-354-zjA .group-7-bcU {
  margin-left: 0.1313rem;
  width: calc(100% - 0.1313rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-152-PUU .frame-354-zjA .group-7-bcU .carbon-email-M5r {
  margin-right: 0.8313rem;
  width: 1.8375rem;
  height: 1.3125rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-152-PUU .frame-354-zjA .group-7-bcU .hellotrueframemediagmailcom-HkC {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #bdbdbd;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-152-PUU .frame-354-zjA .group-1202-R5i {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding-left: 0.3494rem;
  width: calc(100% - 1.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-152-PUU .frame-354-zjA .group-1202-R5i .basil-location-outline-YAL {
  margin: 0rem 0.649rem 0.283rem 0rem;
  width: 1.7012rem;
  height: 2.0667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-153-8Q8 .frame-152-PUU .frame-354-zjA .group-1202-R5i .zone-5-brgy-san-joaquin-palo-leytephilippines-rwi {
  max-width: 19rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #bdbdbd;
  font-family: Moderat, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-147-m36 {
  width: 9.7rem;
  height: 2.2308rem;
  position: absolute;
  left: 71.7037rem;
  top: 27.4017rem;
  display: flex;
  column-gap: 1.4rem;
  align-items: center;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-147-m36 .vector-H1S {
  margin-bottom: 0.093rem;
  width: 2.3rem;
  height: 2.1378rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-147-m36 .akar-icons-instagram-fill-1TE {
  margin-top: 0rem;
  width: 2.2rem;
  height: 2.0449rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .frame-155-Vc4 .frame-154-zHv .frame-147-m36 .akar-icons-linkedin-v1-fill-ju2 {
  width: 2.4rem;
  height: 2.2308rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-156-Ygp .vector-29-5CC {
  width: 118.3912rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-150-cxp {
  margin: 0rem 43.349rem 0rem 45.596rem;
  width: calc(100% - 88.9444rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-150-cxp .all-rights-reserved-by-trueframe-media-2023-Z7N {
  margin-right: 3.65rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-150-cxp .group-25-TiY {
  width: 0.9056rem;
  height: 1.3rem;
  position: relative;
  flex-shrink: 0;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-150-cxp .group-25-TiY .ellipse-2-cbS {
  width: 0.9056rem;
  height: 0.9rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  object-fit: contain;
  vertical-align: top;
}
.info-2-J24 .frame-159-GzC .frame-157-bFn .frame-150-cxp .group-25-TiY .c-x9W {
  width: 0.5rem;
  height: 1.3rem;
  position: absolute;
  left: 0.1006rem;
  top: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Moderat, 'Source Sans Pro';
  white-space: nowrap;
}
